* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

header {
    display: block;
    height: 6rem;
    width: 100%;
    background-color: #fcecdc;
    padding: 1.5rem;
}

.wrapper {

    display: flex;
	align-items: center;
	justify-content: start;
	width: 90%;
    height: 100vh;
    margin: 20px;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
    width: 50%;
}

.ilustra img {
    height: 33rem;
}